<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>C</string>
	<string>C# - Db</string>
	<string>D</string>
	<string>D# - Eb</string>
	<string>E</string>
	<string>F</string>
	<string>F# - Gb</string>
	<string>G</string>
	<string>G# - Ab</string>
	<string>A</string>
	<string>A# - Bb</string>
	<string>B</string>
</array>
</plist>
