<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>noteName</key>
		<string>Do</string>
		<key>soundFileName</key>
		<string>Audio/piano_C.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>Do#</string>
		<key>soundFileName</key>
		<string>Audio/piano_C_sharp_D_flat.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>Re</string>
		<key>soundFileName</key>
		<string>Audio/piano_D.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>Re#</string>
		<key>soundFileName</key>
		<string>Audio/piano_D_sharp_E_flat.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>Mi</string>
		<key>soundFileName</key>
		<string>Audio/piano_E.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>Fa</string>
		<key>soundFileName</key>
		<string>Audio/piano_F.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>Fa#</string>
		<key>soundFileName</key>
		<string>Audio/piano_F_sharp_G_flat.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>Sol</string>
		<key>soundFileName</key>
		<string>Audio/piano_G.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>Sol#</string>
		<key>soundFileName</key>
		<string>Audio/piano_G_sharp_A_flat.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>La</string>
		<key>soundFileName</key>
		<string>Audio/piano_A.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>Sib</string>
		<key>soundFileName</key>
		<string>Audio/piano_A_sharp_B_flat.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>Si</string>
		<key>soundFileName</key>
		<string>Audio/piano_B.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>Do6</string>
		<key>soundFileName</key>
		<string>Audio/piano_C6.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>Do#6</string>
		<key>soundFileName</key>
		<string>Audio/piano_C#6.wav</string>
	</dict>
	<dict>
		<key>noteName</key>
		<string>Pausa</string>
		<key>soundFileName</key>
		<string>Audio/piano_rest.wav</string>
	</dict>
</array>
</plist>
